* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.slideshow {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    margin: 10% auto;
}

.slideshow ul {
    width: 1100%;
    height: 250px;
    padding:0; margin:0;
    list-style: none;
}
.slideshow li {
    float: left;
    transition-duration: 1s;
}

#droite, #gauche{
    width: 25px;
    height: 25px;
    background-color: lawngreen;
    display: inline-block;
    position: relative;
    top: 43vh;
    z-index: 500;
}

#droite{
    left: 57%;
}

#gauche{
    left: 40%;
}