* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container{
    margin: 25rem auto;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-image: url("1.jpg");
}